<!-- STRING INTERPOLATION -->
<div>
  {{ title }}
</div>
<br>
<div>
  {{ 3 + 8 }}
</div>
<!-- DATA BINDING -->
<input type="text" [(ngModel)]="title">
<!-- ngFor & ngIf-->
<div *ngFor="let student of students">
  <div *ngIf="title === student.name">
    {{student.id}} {{student.name}}
  </div>
</div>
<!-- ngSwitch -->
<div [ngSwitch]="title" >
  <div *ngSwitchCase="'Zidane'">
    Soy Zinedine Zidane
  </div>
  <div *ngSwitchCase="'Ronaldinho'">
    Soy Ronaldinho Gaucho el jugador feliz
  </div>
  <div *ngSwitchDefault>
    Estoy aquí pasandola genial
  </div>
</div>